.container.contentCont.about
  .row
    include ./pageHead
    .col-sm.col-md-12.col-lg-8.mt-5
      .row
        .col-sm
         .card.mb-2.welcome
            .card-body.d-flex.justify-content-end
              .avatar       
                img.welcomeImg.card-img-left(src='imgs/avatar.jpg',alt="Error")  
              .aboutInfo
                small.font-weight-bold Monday 7 May 2020
                h4.mt-3
                  | My name is 
                  br
                  | Khaled Eissa
                h6.mt-3 I'am Front end developer have experience in vue , nuxt , gulp , sass , pug  
    .col-sm-4.col-md-12.col-lg-4
      .card.mb-2.rounded
            .card-body.d-flex.justify-content-center.flex-wrap
                #myDatePicker
                .event.d-flex.mt-3
                    small.font-weight-bold 02.30 pm
                    .eventContent.p-2.rounded-lg.ml-2
                        h6 Ahmed zaki
                        small.font-weight-bold 02.30 pm 
                        | : 
                        small.font-weight-bold 02.30 pm      
