.sidebar {
    box-shadow: 14px 10px 15px -5px rgba(0,0,0,0.25);
  width: 250px;
  min-height: 100vh;
  background-color: #1b203e;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  transition: 0.3s ease-in-out;
  border-top-right-radius: 50px;
  &.noSidebar {
    left: -250px;
  }
  .logoArea {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: white;
    padding: 5px 15px;
  }
  .linksArea {
    padding: 0px;
    li {
      padding-right: 10px;
      border-right-width: 20px;
      list-style-type: none;
      color: white;
      a {
        i {
          background-color: #b6b6c0;
          width: 25px;
          opacity: 0.3;
          text-align: center;
          height: 25px;
          line-height: 1.5;
          border-radius: 100%;
        }
        display: flex !important;
        justify-content: space-between;
        transition: ease-in-out 0.3s;
        color: #cccccc;
        &:hover {
          text-decoration: none;
          color: white;
          background-color: transparent;
        }
      }
    }
    > li {
      list-style-type: none;
      > a {
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        color: white;
        display: block;
        padding: 10px 20px;
        &:hover {
          padding-left: 10px;
          color: white;
          background-color: #646583;
        }
        &.active{
            padding-left: 10px;
          color: white;
          background-color: #646583;
        }
      }
    }
  }
  .toggleList {
    i {
      &.up {
        transform: rotate(180deg);
      }
      transition: ease-in-out 0.3s;
    }
  }
  .chiledLinks {
    display: none;
    margin: 10px 20px 10px;
    position: relative;
    padding: 0px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background-color: #cccccc;
    }
    li {
      position: relative;
      padding: 5px 20px;
      &:hover::before {
        content: "";
        position: absolute;
        top: 0;
        left: -1px;
        width: 5px;
        height: 100%;
        border-radius: 5px;
        background-color: #ffffff;
      }
    }
  }
}
