- var pageTitle = "About me";
<!DOCTYPE html>
html(lang="en")
    head
        include pug/layout/meta
        include pug/layout/styles
    body
     .page.homePage
        include pug/layout/sidebar
        include pug/components/settings-box
        .contentArea 
            include pug/layout/header
            .container-fluid
                .content 
                 include pug/layout/cardOfMe
     include pug/layout/scripts