- var pageTitle = "Dashbord";
<!DOCTYPE html>
html(lang="en")
    head
        include pug/layout/meta
        include pug/layout/styles
    body
     .page.homePage
        include pug/layout/sidebar
        .contentArea 
            include pug/layout/header
            .container-fluid
                .content 
                 
                 include pug/layout/content
     include pug/layout/scripts
